<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/publications.css">
        <title>PUBLICATIONS</title>
    </head>

    <body>

        <div class="container">
            <% data.forEach(post =>{ %>
                <div class="item">
                    <img src="data:image/jpeg;base64,<%= post.image.toString('base64') %>" alt="Image">
                    <%= post.title %> 
                </div>
                <div class="item">
                    <img src="data:image/jpeg;base64,<%= post.image.toString('base64') %>" alt="Image">
                    <%= post.title %> 
                </div>
                <div class="item">
                    <img src="data:image/jpeg;base64,<%= post.image.toString('base64') %>" alt="Image">
                    <%= post.title %> 
                </div>
                <div class="item">
                    <img src="data:image/jpeg;base64,<%= post.image.toString('base64') %>" alt="Image">
                    <%= post.title %> 
                </div>
            <% }) %>
        </div>

        <script src="css/test.js"></script> 
        

    </body>

</html>