<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/publications.css">
        <title>PUBLICATIONS</title>
    </head>

    <body>
        <ul>
            
        <% data.forEach(post =>{ %>
            <li> <%= post.title %> </li>
            <ul>
                <li>Description: <%= post.description %> </li>
                <li>Adresse: <%= post.adresse %> </li>
                <li>Prix: <%= post.price %> $ </li>
                <li>Image: <%= post.image %> </li>
                <li>Vues: <%= post.vues %> </li>
                <li>Date: <%= post.createdAt %> </li>
            </ul>
        <% }) %>

        </ul>
    </body>

</html>